<footer class="grid grid-cols-2 gap-4 bg-primary-1 p-4 text-body-2">
  <div class="col-span-2 flex flex-col gap-2 text-white">
    <h5>CÔNG TY CỔ PHẦN CÔNG NGHỆ TRƯỜNG MINH THỊNH</h5>
    <p>Địa chỉ ĐKKD: 22 Đường số 8, Khu 2 – Bùi Minh Trực, Phường 5, Quận 8, Tp Hồ Chí Minh, Việt Nam</p>
    <p>
      Mã số thuế: 0311174986 do Sở KH&ĐT TPHCM đăng ký. Ngày cấp 24/09/2011, đăng ký thay đổi lần 5 ngày 10/12/2020.
    </p>
  </div>

  <div class="flex h-12 gap-2">
    <a
      target="_blank"
      title="Phần mềm tích điểm, quà tặng - WiPoint App Store"
      [href]="iosAppUrl"
    >
      <img
        src="https://tpos.vn/assets/images/app-store.png"
        title="Phần mềm tích điểm, quà tặng - WiPoint App Store"
        alt="Phần mềm tích điểm, quà tặng - WiPoint App Store"
        class="w-full"
        loading="lazy"
      />
    </a>
    <a
      target="_blank"
      title="Phần mềm tích điểm, quà tặng - WiPoint Play Store"
      [href]="androidAppUrl"
    >
      <img
        src="https://tpos.vn/assets/images/google-play.png"
        title="Phần mềm tích điểm, quà tặng - WiPoint Play Store"
        alt="Phần mềm tích điểm, quà tặng - WiPoint Play Store"
        class="w-full"
        loading="lazy"
      />
    </a>
  </div>
</footer>
