/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../node_modules/tds-ui/assets/scss/tds-ui.scss";

//icon
@import "./assets/font-icon/style.css";

@import "./assets/styles/skeleton";
@import "./assets/styles/scroll";

html {
  @apply tds-custom-scroll;
}

body{
  @apply dark:bg-d-neutral-3-50;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-semibold;
}

h1 {
  @apply text-heading-1;
}
h2 {
  @apply text-heading-2;
}
h3 {
  @apply text-heading-3;
}
h4 {
  @apply text-heading-4;
}

h5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.text-heading-6 {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
h6 {
  @apply text-heading-6;
}

b,
strong {
  @apply font-semibold;
}


header,.tds-collapse-header{
  @apply dark:text-neutral-3-50;
}
